<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
{{template "stdhead" git.Head.Branch.Name}}
<body>
{{template "navbar" $}}

<div class="commits-page-wrapper">

{{$notes := gitnotes}}

		{{define "commentmsg"}}

				<li class="comment comment-wrapper collection-item avatar">
					<i class="material-icons circle green">person</i><!-- TODO: get photo of person  then we can use <img src="images/img.jpg" alt="" class="circle"> if there is one. Otherwise assign a color to each user? -->
					<span class="title ">{{.Header.Author}}<span class="timestamp">{{.Header.Date}}</span> </span> <!-- TODO: format timestamp to some relative standard - if not too much hassle. ie Just now, 2 hours ago, yesterday, last week..-->
					<p class="text">{{.Body}}The comment text goes here but this is hard-coded<br/></p><!-- TODO: for some reason the {{.Body}} in my test case was empty (despite filling in a value.. please check.. -->

					<div class="secondary-content">
						<a class="waves-effect waves-light btn-flat">
							<i class="material-icons left">reply</i> <!--TODO: trigger reply thingy.. tbd -->
							reply</a>
					</div>
				</li>


	      	<!--<div class="row">


      			<div class="col s4">{{if .Header.File}}{{index .Header.File 0}} {{if .Header.Line}}:{{index .Header.Line 0}}{{end}}{{end}}</div>
    	  		<div class="col s4">{{index .Header.Author 0}} {{(index .Header.Date 0)}}</div>

      		</div>
	      	<div class="row">
    	  		<div class="col s12 card-panel grey lighten-3"><pre>{{.Body}}</pre></div>
      		</div>

      		</div>-->
      		 <!-- div class="card-action"><a href="#">reply...</a></div -->

      	{{end}}
<div class="commit-card card">
<ul class="collapsible collection with-header" data-collapsible="expandable">
	<li class="collection-header"><h4>Commits</h4></li>
{{range gitlog}}
 <li>
      <div class="collapsible-header {{if eq .Id.String git.Head.Target.String}}active{{end}}">

          <ul class="collection">
              <li class="commit-message collection-item avatar">
                  <i class="material-icons circle">lens</i>
                  <span class="title ">{{.Author.Name}}<span class="timestamp">{{.Author.When}}</span> </span> <!-- TODO: format timestamp to some relative standard - if not too much hassle. ie Just now, 2 hours ago, yesterday, last week..-->
                  <p class="text">{{.Message}}<br>
                  </p>
                  <div class="secondary-content">
					  <span class="replies-counter">4 comments</span><!-- TODO: insert amount of replies here leave blank if none-->
					  <i class="material-icons right">expand_more</i> <!-- TODO: add logic to change icon to expand_less when expanded-->
				  </div>
              </li>
          </ul>

      </div>
      <div class="collapsible-body">
		  <ul class="commit-thread collection">
{{with .Id.String | index $notes}}
	{{range .}}

		{{template "commentmsg" .}}
  	{{end}}
{{end}}


{{if eq .Id.String git.Head.Target.String}}
		<!-- only for the head commit  -->
		<li class="collection-item">
			<form class="">
		    	<input type="hidden" name="commit" value="{{.Id}}">
				<div class="comment-response">
					<div class="input-field col s6">
						<input id="textarea1" type="text" class="validate">
						<label for="textarea1">Comment on this commit</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s2">
					<button class="btn waves-effect waves-light" type="submit">Submit<i class="material-icons right">send</i>
					</button>
					</div>
				</div>
			</form>
		</li>
			  </ul>
      </div>

{{end}}
    </li>
    <li>
<li>
{{end}}
</ul>
</div>
</div>

<script>
$(document).ready(function() {
    $("form").submit(function(ev){
        ev.preventDefault();
        var data = $(this).serializeArray().reduce(function(obj, item) {
		    obj[item.name] = item.value;
    		return obj;
		}, {});
        $.ajax({
			type:    'POST',
			url:     '/api/v1/commits/' + data['commit'] + '/notes',
			//data:    data['text'],
			data:    $(this).serializeArray(),
			success: function(res, status, xhr) { location.reload(); },
			error:   function(xhr, status, err) { Materialize.toast(xhr.responseText, 4000); }
        });
    });
});
</script>

</body>
</html>