<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
{{template "stdhead" git.Head.Branch.Name}}
<body>
{{template "navbar" $}}

{{$notes := gitnotes}}

		{{define "commentmsg"}}
		<div class="row">
      	<div class="col s12">
      		<div class="card">
      		<div class="card-content">

	      	<div class="row">
      			<div class="col s4">{{if .Header.File}}{{index .Header.File 0}} {{if .Header.Line}}:{{index .Header.Line 0}}{{end}}{{end}}</div>      			
    	  		<div class="col s4">{{index .Header.Author 0}} {{(index .Header.Date 0)}}</div>

      		</div>
	      	<div class="row">
    	  		<div class="col s12 card-panel grey lighten-3"><pre>{{.Body}}</pre></div>
      		</div>

      		</div>
      		 <!-- div class="card-action"><a href="#">reply...</a></div -->
      		</div>

      	</div>
      	</div>
      	{{end}}

<ul class="collapsible" data-collapsible="expandable">
{{range gitlog}}
 <li>
      <div class="collapsible-header {{if eq .Id.String git.Head.Target.String}}active{{end}}">
      	{{with .Author}}{{.Name}} &lt;{{.Email}}&gt  {{.When | timestamp}}{{end}} -- {{.Id.String | shortid}} {{.Summary}}
      </div>
      <div class="collapsible-body">
      	<div class="row">
      	<div class="col s12">
  			<div class="card grey lighten-1">
	            <div class="card-content">
					<p>{{.Message}}</p>
	            </div>
			</div>
		</div>
		</div>

{{with .Id.String | index $notes}}
	{{range .}}
		{{template "commentmsg" .}}
  	{{end}}
{{end}}

{{if eq .Id.String git.Head.Target.String}}
		<!-- only for the head commit  -->
		<div class="row">
		    <form class="col s12">
		    	<input type="hidden" name="commit" value="{{.Id}}">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">mode_edit</i>
						<textarea id="textarea1" name="text" class="materialize-textarea"></textarea>
						<label for="textarea1">New commit-level comment</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s2">
					<button class="btn waves-effect waves-light" type="submit">Submit<i class="material-icons right">send</i>
					</button>
					</div>
				</div>
			</form>
		</div>
      </div>
{{end}}
    </li>
    <li>
<li>
{{end}}
</ul>


<script>
$(document).ready(function() {
    $("form").submit(function(ev){
        ev.preventDefault();
        var data = $(this).serializeArray().reduce(function(obj, item) {
		    obj[item.name] = item.value;
    		return obj;
		}, {});
        $.ajax({
			type:    'POST',
			url:     '/api/v1/commits/' + data['commit'] + '/notes',
			//data:    data['text'],
			data:    $(this).serializeArray(),
			success: function(res, status, xhr) { location.reload(); },
			error:   function(xhr, status, err) { Materialize.toast(xhr.responseText, 4000); }
        });
    });
});
</script>
</body>
</html>