<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
{{template "stdhead" ($.path | trimprefix "/" | titlecase)}}
<body>
{{template "navbar" $}}
{{range gitdiffs (gitbranchlocal "master").Target git.Head.Target}}
<pre>
Status:{{.Status |gitdeltastring}}  Flags: {{.Flags |gitdiffflagstring}} Similarity: {{.Similarity}}
Old: {{template "difffile" .OldFile}}
New: {{template "difffile" .NewFile}}

</pre>
{{end}}

{{define "difffile"}} {{.Oid}} {{printf "%06o" .Mode}} {{.Path}} [{{.Size}}] {{.Flags |gitdiffflagstring}} {{end}}
</body>
</html>